<h1>Criação de Tasks</h1>

<form action="/tasks/add" method="POST">
    <div class="form-controll">
        <label for="title">Título: </label>
        <input type="text" name="title" placeholder="Oque você irá fazer">
    </div>
    <div class="form-controll">
        <label for="description">Descrição: </label>
        <textarea name="description" placeholder="Descreva a Tarefa"></textarea>
    </div>
    <input type="submit" value="Criar">
</form>